.bg-img-1 {
    background-image: url(../photos/1.png);
}

.bg-img-2 {
    background-image: url(../photos/2.png);
}

.bg-img-3 {
    background-image: url(../photos/3.png);
}

.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
